<topbar (next)="onNext()" (previous)="onPrevious()" (setViewMode)="onSetViewMode($event)"
  (searchChanged)="onSearchChanged($event)">
</topbar>
<div [ngSwitch]="viewMode$|async">
  <day-view *ngSwitchCase="VIEW_MODE.DAY" [date]="currentDate$|async">
  </day-view>
  <week-view *ngSwitchCase="VIEW_MODE.WEEK" [year]="currentYear$|async" [week]="currentWeek$|async">
  </week-view>
  <month-view *ngSwitchCase="VIEW_MODE.MONTH" [month]="currentMonth$|async" [year]="currentYear$|async">
  </month-view>
</div>
